<div>
<input #cityInput type='text' [value]="selectedCity" (keyup.enter)="onSubmit(cityInput.value)" />
<button (click)="onSubmit(cityInput.value)">Get weather of selected city</button>
</div>
<div>
  <ngx-charts-line-chart *ngIf="visible == true"
                         [view]="view"
                         [scheme]="colorScheme"
                         [results]="multi"
                         [gradient]="gradient"
                         [xAxis]="showXAxis"
                         [yAxis]="showYAxis"
                         [legend]="showLegend"
                         [legendTitle]="legendTitle"
                         [showXAxisLabel]="showXAxisLabel"
                         [showYAxisLabel]="showYAxisLabel"
                         [xAxisLabel]="xAxisLabel"
                         [yAxisLabel]="yAxisLabel"
                         (select)="onSelect($event)">
  </ngx-charts-line-chart>
</div>
